<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
  <meta charset="UTF-8">
  <title>todolist</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <link rel="stylesheet" href="todo.css"></head>
  <style>
    .done-true {
  text-decoration: line-through;
  color: grey;
}
  </style>
<body>
  <h2>Todo</h2>
  <div ng-controller="TodoListController as todoList">
    <span>
      {{todoList.remaining()}} of {{todoList.todos.length}} remaining
    </span>
    [
    <a href="" ng-click="todoList.archive()">archive</a>
    ]
    <ul class="unstyled">
      <li ng-repeat="todo in todoList.todos">
        <label  class="checkbox">
          <input type="checkbox" ng-model="todo.done">
          <span class="done-{{todo.done}}">{{todo.text}}</span>
        </label>
      </li>
    </ul>
    <form ng-submit="todoList.addTodo()">
      <input type="text" ng-model="todoList.todoText" size="30" placeholder="add new todo here">
      <input type="submit" class="btn-primary" value="add">
    </form>
    <button class="btn-primary" ng-click="todoList.archived(lee)"> {{todoList.toggle}} archived things</button>
    <ul class="unstyled" ng-show="todoList.toggle=='hide'">
      <li ng-repeat="done in todoList.havedone">{{done.text}}</li>
    </ul>
  </div>
</body>
<script>var lee = '123';</script>
<script src='todo.js'></script>
</html>

<!-- <head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="todo.js"></script>
<link rel="stylesheet" href="todo.css"></head>
<body>
<h2>Todo</h2>
<div ng-controller="TodoListController as todoList">
  <span>
    {{todoList.remaining()}} of {{todoList.todos.length}} remaining
  </span>
  [
  <a href="" ng-click="todoList.archive()">archive</a>
  ]
  <ul class="unstyled">
    <li ng-repeat="todo in todoList.todos">
      <label class="checkbox">
        <input type="checkbox" ng-model="todo.done">
        <span class="done-{{todo.done}}">{{todo.text}}</span>
      </label>
    </li>
  </ul>
  <form ng-submit="todoList.addTodo()">
    <input type="text" ng-model="todoList.todoText"  size="30"
                 placeholder="add new todo here">
    <input class="btn-primary" type="submit" value="add"></form>
</div> -->